/* css reset */

* {
    margin: 0;
    padding: 0;
}

/* navbar */

#navbar {
    height: 60px;
    border: 2px solid black;
    display: grid;
    grid-template-areas: 'logo logo navigation navigation';
    background: #171414;
}

#navbar img {
    height: inherit;
    grid-area: logo;
    filter: invert(92%);
}

#navbar ul {
    grid-area: navigation;
    display: grid;
    grid-template-areas: 'auto auto auto';
    align-items: center;
    list-style-type: none;
}

#navbar ul li a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5rem;
    color: #f05454;
    position: relative;
}

#navbar ul li a:before {
    content: "";
    width: 0%;
    background: none;
    position: absolute;
    bottom: 0;
}

#navbar ul li a:hover:before {
    background: #f05454;
    width: 100%;
    height: 2px;
    transition: .3s ease;
}

/* recents */

#recents {
    border: 2px solid red;
    display: flex;
    oveflow: auto;
    flex-direction: column;
    align-items: center;
}

#recent-slideshow {
    width: 90%;
    overflow: auto;
    transition: opacity .5s ease-in-out;
}

#recent-slideshow img {
    width: 100%;
    height: auto;
    align-self: center;
}

/* about */

#about {
    color: #171414;
    border: 2px solid rgb(0, 255, 0);
    padding: 40px;
}

#about .intro {
    margin: 0 auto;
padding: 30px;
}

#about .dos {
    display: grid;
    grid-template-areas: 'dos1 dos1 dos1 dos1' 'dos2 dos2 dos2 dos2';
}

.dos-1 {
    grid-area: dos1;
    position: relative;
    animation: left-cross 7s ease 0s infinite forwards;
    justify-self: start;
    width: 50%;
}
.dos-2 {
    grid-area: dos2;
    position: relative;
    animation: right-cross 7s ease 0s infinite forwards;
    justify-self: end;
    width: 50%;
}

#about .dos:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
}

/* skills */

#skills {
    color: #f05454;
    border: 2px solid rgb(0, 4, 255);
    display: grid;
    grid-template-areas: 'box-1 box-1 box-1 box-1' 'box-2 box-2 box-2 box-2' 'box-3 box-3 box-3 box-3';
    grid-gap: 1rem;
}
.skill-box{
    width: 60%;
    border: 2px solid lawngreen;
}
.skill-box img{
    width: 15%;
}
#box-1{
    grid-area: box-1;
    justify-self: start;
}
#box-2{
    grid-area: box-2;
    justify-self: center;
}
#box-3{
    grid-area: box-3;
    justify-self: end;
}

/* contact */

#contact {
    height: 700px;
    border: 2px solid rgb(255, 0, 242);
}

/* footer */

footer {
    height: 80px;
    border: 2px solid black;
}

/* utility classes */

.h-prim {
    font-family: 'Sacramento', sans-serif;
    font-size: 9rem;
}

.h-sec {
    font-size: 2.5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin: 25px auto;
}

.h-ter {
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.para {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    width: 80%;
    text-align: center;
    padding: 5px 0;
}

.prim {
    background: #f05454;
}
.sec{
    background: #171414;
}
.fade {
    opacity: 0;
}

.flexin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* animation keyframes */

/*for Design What You Want(class: dos-1)*/

@keyframes left-cross {
    0% {
        left: 200px;
        top: 0px;
        opacity: 0;
    }
    50% {
        left: 0;
        top: 0;
        opacity: 1;
    }
    100% {
        left: 0;
        top: 0;
        opacity: 1;
    }
}

/* for Develop What You need(class: dos-2) */

@keyframes right-cross {
    0% {
        right: 200px;
        top: 0px;
        opacity: 0;
    }
    50% {
        right: 0;
        top: 0;
        opacity: 1;
    }
    100% {
        right: 0;
        top: 0;
        opacity: 1;
    }
}
